<h1>
    {{subject.subName}}
</h1>

<div>
    Code:
    {{subject.subCode}}
</div>

<div>
    Department:
    {{subject.subDepartment.name}}
</div>

<div>
    Previous Subject:
    {{subject.subPrevious}}
</div>