<div class="container">
 <button><a href="/registerdoctor">registerdoctor</a></button>   
</div>
<div class="my-2">
    <button><a href="/registerstudent">registerstudent</a></button>
</div>
<div class="my-3">
    <button><a href="/departments">Departments</a></button>
</div>
<div class="my-3">
    <button><a href="/subjects">subjects</a></button>
</div>

