<div class="container">
 <button><a href="/adminlog">Admin</a></button>   
</div>
<div class="my-2">
    <button><a href="/login">Doctors</a></button>
</div>
<div class="my-3">
    <button><a href="/studentlog">Student</a></button>
</div>


